.home-page-content {
  margin-top: 15px;
}

.home-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-table-name {
  font-size: 24px;
}

.mode-changer {
  display: flex;
  align-items: center;
}

.mode {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  .icon {
    display: flex;

    width: 24px;
    height: 24px;
    border-color: $dark-grey;
    color: $dark-grey;

    fill: $dark-grey;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .icon-sql-editor {
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;
    border: 2px solid $dark-grey;

    font-size: 6px;
    font-weight: bold;
  }
}

.mode-active {
  .icon {
    border-color: $blue;
    color: $blue;

    fill: $blue;
  }
}
