.sidebar-link {
  display: flex;
  align-items: center;

  color: $silver;

  font-size: 17px;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    font-size: 12px;
  }

  .icon {
    width: 30px;
    height: 45px;
    margin-right: 10px;

    fill: $silver;

    @media (max-width: $screen-xs-max) {
      width: 25px;
      height: 30px;
      margin-right: 0;
    }
  }

  &:hover,
  .link-active & {
    color: $alabaster;

    .icon {
      fill: $alabaster;
    }
  }
}
