// Colors.
$blue: #1698ea;
$dark-grey: #aaa;
$faded-black: rgba(0, 0, 0, .05);
$faded-black-less: rgba(0, 0, 0, .3);
$faded-red: rgba(189, 66, 66, .85);
$light-black: #333;
$light-white: #f6f6f6;
$white: #fff;

// Fonts.
$font-face: 'Lato', sans-serif;
$font-family-code: 'Source Code Pro', monospace;
$base-line-height: 1.42857;
