// Colors.
$blue: #1698ea;
$faded-black: rgba(0, 0, 0, .05);
$faded-black-less: rgba(0, 0, 0, .30);
$light-black: #333;
$light-white: #f6f6f6;
$white: #fff;

// Fonts.
$font-face: 'Lato', sans-serif;
$base-line-height: 1.42857;
